.name-title {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  transition: color 155ms ease-in-out;

  &:hover {
    color: #00bee8;
  }
}

.menu {
  a {
    margin-left: 29px;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    text-decoration: none; 
    color: white;
    transition: color 155ms ease-in-out;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px; 
      bottom: -2px; 
      background-color: #00bee8; 
      transition: width 155ms ease-in-out; 
    }

    &:hover {
      color: #00bee8;
      &:before {
        width: 100%;
      }
    }
  }
}

.burger-menu-btn{
  cursor: pointer;
}

@media (max-width: 990px) {
  
}


