.name-title {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  transition: color 155ms ease-in-out;

  &:hover {
    color: #00bee8;
  }
}

.menu {
  a {
    margin-left: 29px;
    font-size: 23px;
    cursor: pointer;
    transition: color 155ms ease-in-out;

    &:hover {
      color: #00bee8;
    }
  }
}
