<div class="footer-container">
  <div *ngIf="!isMobileScreen" class="footer-name-container">
      <a class="name-title" (click)="handleAnchor('heroSection')" [routerLink]="'/'">Furkan</a>
      <a [routerLink]="['/imprint']" class="imprint">Impressum</a>
    </div>
    <a class="name-title" (click)="handleAnchor('heroSection')" *ngIf="isMobileScreen" [routerLink]="'/'">Furkan</a>
    <div class="copyright">&copy; Furkan Ayhan 2024</div>
    <div class="social-icon-container">
      <a href="https://github.com/FurkanAy97"><img class="social-icon" src="assets/img/github-big.png"/></a>
      <a href= "mailto:furkan197@outlook.de"><img class="social-icon" src="assets/img/email-big.png"/></a>
      <a href="https://www.linkedin.com/in/furkan-ayhan-282313295/"><img class="social-icon" src="assets/img/in-big.png"/></a>
    </div>
    <a [routerLink]="['/imprint']" *ngIf="isMobileScreen" class="imprint">Impressum</a>
  
</div>
