<div *ngIf="!isMobileScreen" class="footer-name-container">
    <a class="name-title">Furkan</a>
    <a href="#" class="impressum">Impressum</a>
  </div>
  <a class="name-title" *ngIf="isMobileScreen">Furkan</a>
  <div class="copyright">&copy; Furkan Ayhan 2023</div>
  <div class="social-icon-container">
    <a href="https://github.com/FurkanAy97"><img class="social-icon" src="assets/img/github-big.png"/></a>
    <a href= "mailto:furkan197@outlook.de"><img class="social-icon" src="assets/img/email-big.png"/></a>
    <a href=""><img class="social-icon" src="assets/img/in-big.png"/></a>
  </div>
  <a href="#" *ngIf="isMobileScreen" class="impressum">Impressum</a>
