<div class="about-me-text">
  <h1>About me</h1>
  <p>
    In 2022, while training as an Office Management Clerk, I discovered my
    passion for IT. I began coding at home, improved my computer skills, and
    turned my hobby into my professional career. I underwent professional
    training at a school in Germany, gaining practical experience and skills.
    Now, I'm exited to use my skills in a software team as a junior developer.
  </p>
  <div class="subtext">
    <img src="assets/img/bulb-blue-big.png" />
    I like exploring new technologies that help me code more efficiently and
    make my work even more enjoyable.
  </div>
  <br />
  <div class="subtext">
    <img src="assets/img/puzzle-blue-big.png" />
    I really enjoy working with a team on projects and figuring out how to
    tackle challenges together.
  </div>
</div>

<div *ngIf="!isMobileScreen" class="about-me-portrait">
  <div class="portrait-container"></div>
</div>

<div *ngIf="!isMobileScreen" class="about-me-vector"></div>
<img src="assets/img/fog2.png" class="about-me-fog" />
