<div class="about-me-text">
  <h1>Über mich</h1>
  <p>
    Im Jahr 2022 entdeckte ich während meiner Ausbildung zum Kaufmann für Büromanagement meine Leidenschaft für die IT. 
    Ich begann zu Hause zu programmieren, verbesserte meine Computerkenntnisse und machte mein Hobby zu meinem beruflichen Werdegang. 
    Ich absolvierte eine professionelle Ausbildung an einer Schule in Deutschland, sammelte praktische Erfahrungen und erwarb Fähigkeiten. 
    Jetzt freue ich mich darauf, meine Kenntnisse in einem Softwareteam als Junior-Entwickler einzusetzen.
  </p>
  <div class="subtext">
    <img src="assets/img/bulb-blue-big.png" />
    Ich bin stets daran interessiert, neue Methoden kennenzulernen, 
    die mir helfen, effizienter zu coden und meine Arbeitsabläufe zu optimieren.
  </div>
  <br />
  <div class="subtext">
    <img src="assets/img/puzzle-blue-big.png" />
    Ich schätze die Zusammenarbeit im Team an Projekten sehr und finde es bereichernd, 
    gemeinsam Lösungswege für Herausforderungen zu erarbeiten.
  </div>
</div>

<div *ngIf="!isMobileScreen" class="about-me-portrait">
  <div class="portrait-container"></div>
</div>

<div *ngIf="!isMobileScreen" class="about-me-vector"></div>
<img src="assets/img/fog2.png" class="about-me-fog" />
