<div class="about-me-text">
  <h1>About me</h1>
  <p>
    I'm Furkan Ayhan, a front-end software engineer from Germany,
    Baden-Württemberg. I strive to create seamless user experiences through
    clean and efficient code. Welcome to my portfolio, where I showcase my
    Projects in the world of web development.
  </p>
  <div class="subtext">
    <img src="assets/img/bulb-blue-big.png" />
    I love exploring new technologies that help me code more efficiently and make my work even more enjoyable. 
  </div>
  <br />
  <div class="subtext">
    <img src="assets/img/puzzle-blue-big.png" />
    I really enjoy working with a team on projects and figuring out how to tackle challenges together.
  </div>
</div>

<div *ngIf="!isMobileScreen" class="about-me-portrait">
  <div class="portrait-container"></div>
</div>

<div *ngIf="!isMobileScreen" class="about-me-vector"></div>
<img src="assets/img/fog2.png" class="about-me-fog" />
