.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  position: relative;
  z-index: 3;
}

.portfolio-fog1 {
  position: absolute;
  left: 0;
  top: 900px;
}

.portfolio-fog-mobile {
  position: absolute;
  width: 600px;
  left: 190px;
  top: 1380px;
}

@media (max-width: 990px) {
  .project-container {
    flex-direction: column;
  }
  .portfolio-fog-mobile {
    position: absolute;
    width: 600px;
    left: 0;
    top: 1380px;
  }
}

@media (max-width: 600px) {
  .portfolio-fog-mobile {
    width: 380px;
    left: 0;
    top: 1470px;
  }
  
  .project-container {
    
    img{
      width: 100%;
    }
  }
  
  .project-stack{
    width: 100%;
  }
}

@media (max-width: 450px) {
  app-project-text{
    padding: 0 25px;
  }

  .portfolio-fog-mobile {
    width: 380px;
    left: 0;
    top: 1360px;
  }
}
