.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
    z-index: 3;
}

.portfolio-fog1{
    position: absolute;
    left: 0;
    top: 900px;
}
.portfolio-fog-mobile {
    position: absolute;
    width: 600px;
    left: 190px;
    top: 1380px;
}



@media (max-width: 990px) {
    .project-container{
        flex-direction: column;
    }
}