<div [ngClass]=" isMobileScreen ? 'vector-line-mobile' : 'vector-line'"></div>
<a href="https://github.com/FurkanAy97"><img class="social-icon" src="assets/img/github-big.png"></a>
<a href= "mailto:furkan197@outlook.de"><img class="social-icon" src="assets/img/email-big.png" ></a>
<a href="https://www.linkedin.com/in/furkan-ayhan-282313295/"><img class="social-icon" src="assets/img/in-big.png" ></a>
<a class="email" *ngIf="!isMobileScreen" href="mailto:furkan197@outlook.de">furkan197@outlook.de</a>
