.vector-line {
  width: 700px;
  height: 0px;
  border: solid #4b47ff;
  border-radius: 0 4px 4px 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -640px;
}

.vector-line-mobile {
  position: absolute;
  left: 0;
  width: 100px;
  height: 0px;
  border: solid #4b47ff;
  border-radius: 0 4px 4px 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.email {
  color: white;
  text-decoration: none;
  font-size: 23px;
  transition: all 155ms ease-in-out;
  &:hover {
    color: #00bee8;
  }
}

.social-icon {
  width: 30px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.4);
  }
}

a{
  height: 30px;
}

@media (max-width: 990px) {
  .social-icon {
    width: 50px;
    z-index: 3;
  }
}

@media (max-width: 600px) {
  .social-icon {
    width: 45px;
    z-index: 3;
  }

  .vector-line-mobile{
    width: 50px;
  }
}

@media (max-width: 450px) {
  .social-icon {
    width: 40px;
    z-index: 3;
  }
}
@media (max-width: 380px) {
  .social-icon {
    width: 35px;
  }

  .vector-line-mobile{
    width: 30px;
  }
}