.vector {
  width: 100%;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 500px;
}

.hero-portrait {
  width: 550px;
  position: absolute;
  top: 75px;
  left: 100px;
}

.hero-text {
  width: 700px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-name {
  color: white;
  position: relative;
  z-index: 11;
  font-size: 70px;
  font-weight: 700;
  height: 4rem;
}

.hero-title {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 46px;
  font-weight: 400;
  margin-top: 35px;
  color: #4b47ff;
}

.hero-iam {
  rotate: calc(270deg);
  position: absolute;
  left: 0;
  top: 43px;
  font-size: 53px;
}

.lets-talk-btn {
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background-color: #00bee8;
  color: white;
  border: none;
  outline: none;
  font-size: 23px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  margin-top: 35px;
  margin-right: 60px;
  z-index: 2;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
  &:hover {
    transform: scale(1.2);
    background-color: #4b47ff;
  }
}

.hero-fog-container{
  height: 850px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-fog {
  width: 100%;
  max-width: 900px;
  margin-top: 100px;
}

.scroll-down {
  position: absolute;
  height: fit-content;
  top: 850px;
  right: 40px;
  bottom: 40px;
  transform: rotate(90deg);
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 155ms ease-in-out;
  z-index: 3;

  img {
    transform: rotate(270deg);
    margin-left: 8px;
  }

  &:hover {
    color: #00bee8;
  }
}


@media (max-width: 990px) {
  .hero-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    left: 0;
    right: 0;
    top: 1000px;
  }

  .hero-portrait {
    width: 600px;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .lets-talk-btn {
    margin-right: 0;
  }

  .hero-fog {
    width: 100%;

  }

  .vector {
    height: 60dvh;
    top: 640px;
  }
}

@media (max-width: 600px) {
  .hero-portrait{
    width: 410px;
    position: absolute;
    top: 90px;
    left: 0;
  }
  
  .hero-fog {
    width: 100%;
    margin-top: -50px;
  }
  
  .hero-name{
    font-size: 40px; 
  }
  
  .hero-title{
    font-size: 20px;
    margin-top: 0;
  }
  
  .hero-text{
    width: 300px;
    top: 740px;
    z-index: 4;
  }
  
  .hero-iam{
    font-size: 26px;
    left: -44px;
    top: 29px;
  }
  
  .lets-talk-btn{
    padding: 10px 25px 10px 25px;
    margin-top: 25px;
  }

  .vector {
    height: 60dvh;
    top: 440px;
  }
}

@media (max-width: 450px) {
  .hero-portrait{
    width: 390px;
    position: absolute;
    top: 90px;
    left: -12px;
  }

  .vector{
    top: 440px;
  }

  .hero-title{
    font-size: 20px;
    margin-top: 0;
  }

  .hero-fog {
    width: 100%;
  }
  
  .hero-text{
    width: 300px;
    top: 740px;
    z-index: 4;
  }

  .hero-iam{
    font-size: 26px;
    left: -44px;
    top: 29px;
  }

}

@media (min-height: 1200px) {
  .vector {
    top: 600px;
  }

  .hero-portrait {
    top: 175px;
  }

  .hero-fog-container{
    height: 100dvh;
  }

  .hero-text {
    top: 350px;
  }
}