<div class="hero-container">
    <img class="hero-portrait" src="assets/img/hero-portrait1.png" alt="hero-portrait">
    <div class="hero-text">
        <span class="hero-name">Furkan Ayhan</span>
        <span class="hero-title">FRONTEND ENTWICKLER</span>
        <span class="hero-iam">Ich bin</span>
        <button class="lets-talk-btn" (click)="handleAnchor('contactSection')">Lass uns reden!</button>
    </div>
    <div class="hero-fog-container">
        <img class="hero-fog" src="assets/img/fog1.png" alt="fog">
    </div>
</div>
<img class="vector" src="assets/img/Vector.png" alt="vector">
<span class="scroll-down" (click)="handleAnchor('aboutMe')" *ngIf="!isMobileScreen">Runterscrollen<img src="assets/img/arrow-down-line.png"></span>

