<img class="hero-portrait" src="assets/img/hero-portrait.png" alt="hero-portrait">
<img class="vector" src="assets/img/Vector.png" alt="vector">
<div class="hero-text">
    <span class="hero-name">Furkan Ayhan</span> 
    <span class="hero-title">FRONTEND DEVELOPER</span>
    <span class="hero-iam">i am</span>
    <button class="lets-talk-btn">Let’s talk!</button>
</div>
<img class="hero-fog" src="assets/img/fog1.png" alt="fog">
<span class="scroll-down" (click)="onClick('aboutMe')" *ngIf="!isMobileScreen">Scroll down <img src="assets/img/arrow-down-line.png"></span>