<img class="hero-portrait" src="assets/img/hero-portrait1.png" alt="hero-portrait">
<img class="vector" src="assets/img/Vector.png" alt="vector">
<div class="hero-text">
    <span class="hero-name">Furkan Ayhan</span> 
    <span class="hero-title">FRONTEND DEVELOPER</span>
    <span class="hero-iam">I am</span>
    <button class="lets-talk-btn" (click)="handleAnchor('contactSection')">Let’s talk!</button>
</div>
<div class="hero-fog-container">
    <img class="hero-fog" src="assets/img/fog1.png" alt="fog">
</div>
<span class="scroll-down" (click)="handleAnchor('aboutMe')" *ngIf="!isMobileScreen">Scroll down <img src="assets/img/arrow-down-line.png"></span>

