<h1>Kontakt</h1>

<div class="contact-vector"></div>

<div class="main-container">
  <div class="text-container">
    <h2>Haben Sie ein Problem zu lösen?</h2>
    <p>
      Kontaktieren Sie mich über dieses Formular. Ich freue mich von Ihnen zu hören, 
      Ihre Ideen kennenzulernen und durch meine Arbeit zu Ihren Projekten beizutragen.</p>
  </div>
  <div class="input-area"> 
    <form #myForm="ngForm" (submit)="sendMail()">
      <label>
        <input type="text" class="input-field" #nameField placeholder="Ihr Name" [style.border]="name.dirty || name.touched ? (name.valid ? '1px solid #4b47ff' : '1px solid red') : ''" 
        required [(ngModel)]="formData.name" name="name" #name="ngModel" >
        <img class="success-img" src="assets/img/success.png" [style.display]="name.valid && (name.dirty || name.touched) ? 'block' : 'none'"/>
        <img class="fail-img" src="assets/img/fail.png" [style.display]="name.invalid && (name.dirty || name.touched) ? 'block' : 'none'"/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">Der Name ist erforderlich.</div>
      </label>
      <label>
        <input type="email" class="input-field" #emailField placeholder="Ihre email" [style.border]="email.dirty || email.touched ? (email.valid ? '1px solid #4b47ff' : '1px solid red') : ''" 
        required [(ngModel)]="formData.email" name="email" #email="ngModel"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
        <img class="success-img" src="assets/img/success.png" [style.display]="email.valid && (email.dirty || email.touched) ? 'block' : 'none'"/>
        <img class="fail-img" src="assets/img/fail.png" [style.display]="email.invalid && (email.dirty || email.touched) ? 'block' : 'none'"/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">Bitte geben Sie eine gültige E-Mail-Adresse ein.</div>
      </label>
      <label>
        <textarea #messageField [style.border]="message.dirty || message.touched ? (message.valid ? '1px solid #4b47ff' : '1px solid red') : ''" placeholder="Ihre nachicht" cols="30" rows="10" 
        required [(ngModel)]="formData.message" name="message" #message="ngModel"></textarea>
        <img class="success-img" src="assets/img/success.png" [style.display]="message.valid && (message.dirty || message.touched) ? 'block' : 'none'"/>
        <img class="fail-img" src="assets/img/fail.png" [style.display]="message.invalid && (message.dirty || message.touched) ? 'block' : 'none'"/>
        <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error-message">Eine Nachricht ist erforderlich.</div>
      </label>
      <div *ngIf="isSentSuccessfully" class="success-msg" [@fadeInOut]>Deine Nachricht wurde erfolgreich gesendet!</div>
      <div class="checkbox-container">
        <input class="checkbox" type="checkbox" [(ngModel)]="agreeToPolicy" [ngModelOptions]="{standalone: true}"/>
        <p>Ich habe die <a [routerLink]="['/privacy-policy']">Datenschutzerklärung</a> gelesen und bin mit der beschriebenen Verarbeitung meiner Daten einverstanden</p>
      </div>
      <button [ngClass]="agreeToPolicy && name.valid && email.valid && message.valid ? 'send-message-btn' : 'send-message-btn-disabled'" type="submit"
        [disabled]="!agreeToPolicy || name.invalid || email.invalid || message.invalid" >Senden</button>
    </form>
    
    
  </div>
  <img class="go-up-button"
    (mouseover)="isHovered = true"
    (mouseleave)="isHovered = false"
    [src]="isHovered ? arrowSrcHover : arrowSrc"
    (click)="handleAnchor('heroSection')"
  />
</div>
<img class="contact-fog" src="assets/img/fog5.png">
