<button class="skill-btn-mobile">Get in touch</button>
<div class="skill-icons">
    <div *ngFor="let skill of skills; let i = index" class="skill-container">
        <img src="assets/img/skill-icons/{{skill}}.png">
        <p class="skill-name">{{skillNames[i]}}</p>
    </div>
</div>
<div class="skill-text">
    <h1>My Skills</h1>
    <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
    <button *ngIf="!isMobileScreen">Get in touch</button>
    <div class="skills-vector"></div>
</div>

<img class="skill-fog" src="assets/img/fog3.png">
