<button
  *ngIf="isMobileScreen"
  class="skill-btn-mobile"
  (click)="handleAnchor('contactSection')"
>
  Get in touch
</button>
<div class="skill-icons">
  <div *ngFor="let skill of skills; let i = index" class="skill-container">
    <img src="assets/img/skill-icons/{{ skill }}.png" />
    <p class="skill-name">{{ skillNames[i] }}</p>
  </div>
</div>
<div class="skill-text">
  <h1>My Skills</h1>
  <p>
    My enhanced frontend development skills have enabled me to successfully
    bring various real projects to life.
  </p>
  <button *ngIf="!isMobileScreen" (click)="handleAnchor('contactSection')">
    Get in touch
  </button>
  <div class="skills-vector"></div>
</div>

<img class="skill-fog" src="assets/img/fog3.png" />
