<button
  *ngIf="isMobileScreen"
  class="skill-btn-mobile"
  (click)="handleAnchor('contactSection')"
>
  Kontaktieren Sie mich
</button>
<div class="skill-icons">
  <div *ngFor="let skill of skills; let i = index" class="skill-container">
    <img src="assets/img/skill-icons/{{ skill }}.png" />
    <p class="skill-name">{{ skillNames[i] }}</p>
  </div>
</div>
<div class="skill-text">
  <h1>Meine Skills</h1>
  <p>
    Durch meine Frontend-Entwicklungsfähigkeiten konnte ich erfolgreich verschiedene Projekte umsetzen.
  </p>
  <button *ngIf="!isMobileScreen" (click)="handleAnchor('contactSection')">
    Kontaktieren Sie mich
  </button>
  <div class="skills-vector"></div>
</div>

<img class="skill-fog" src="assets/img/fog3.png" />
