.imprint-container{
    padding: 0 100px;
    margin-top: 10%;
    height: 32dvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    a{
        color: #00bee8;
        &:hover{
            color: #00d0ff;
        }
    }
}

@media (max-width: 990px) {
    
    .imprint-container{
        padding: 0 25px;
        margin-top: 20%;
        height: 42dvh;

    
    }

}

@media (max-width: 600px) {
    
    .imprint-container{
        padding: 0 25px;
        margin-top: 30%;
        height: 42dvh;

    
    }

}